/*----police quicksand---*/
@font-face {
    font-family: 'poppins';
    src: url('police/poppins-v9-latin-regular.woff2') format('woff2'),
         url('police/poppins-v9-latin-regular.woff') format('woff');

    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserrat-normal';
    src: url('police/montserrat-v14-latin-regular.woff2') format('woff2'),
         url('police/montserrat-v14-latin-regular.woff') format('woff');

    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'montserrat-900';
    src: url('police/montserrat-v14-latin-900.woff2') format('woff2'),
         url('police/montserrat-v14-latin-900.woff') format('woff');

    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserrat-800';
    src: url('police/montserrat-v14-latin-800.woff2') format('woff2'),
         url('police/montserrat-v14-latin-800.woff') format('woff');

    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserrat-700';
    src: url('police/montserrat-v14-latin-700.woff2') format('woff2'),
         url('police/montserrat-v14-latin-700.woff') format('woff');

    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'montserrat-500';
    src: url('police/montserrat-v14-latin-500.woff2') format('woff2'),
         url('police/montserrat-v14-latin-500.woff') format('woff');

    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserrat-600';
    src: url('police/montserrat-v14-latin-600.woff2') format('woff2'),
         url('police/montserrat-v14-latin-600.woff') format('woff');

    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'montserrat-300';
    src: url('police/montserrat-v14-latin-300.woff2') format('woff2'),
         url('police/montserrat-v14-latin-300.woff') format('woff');

    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'quicksand-dash';
    src: url('police/quicksand_dash-webfont.woff2') format('woff2'),
         url('police/quicksand_dash-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'quicksand-bold';
    src: url('police/quicksand-bold-webfont.woff2') format('woff2'),
         url('police/quicksand-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'quicksand-bold-italic';
    src: url('police/quicksand-bolditalic-webfont.woff2') format('woff2'),
         url('police/quicksand-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'quicksand-italic';
    src: url('police/quicksand-italic-webfont.woff2') format('woff2'),
         url('police/quicksand-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'quicksand-light';
    src: url('police/quicksand-light-webfont.woff2') format('woff2'),
         url('police/quicksand-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'quicksand-light-italic';
    src: url('police/quicksand-lightitalic-webfont.woff2') format('woff2'),
         url('police/quicksand-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'quicksand-regular';
    src: url('police/quicksand-regular-webfont.woff2') format('woff2'),
         url('police/quicksand-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*----police quicksand---*/







@font-face {
    font-family: 'metropolis';
    src: url('police/metropolis-regular-webfont.woff2') format('woff2'),
         url('police/metropolis-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'rubik';
    src: url('police/rubik-regular-webfont.woff2') format('woff2'),
         url('police/rubik-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}





@font-face {
    font-family: 'rubik-bold';
    src: url('police/rubik-bold-webfont.woff2') format('woff2'),
         url('police/rubik-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'rubik-light';
    src: url('police/rubik-light-webfont.woff2') format('woff2'),
         url('police/rubik-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'metropolis-bold';
    src: url('police/metropolis-bold-webfont.woff2') format('woff2'),
         url('police/metropolis-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'metropolis-light';
    src: url('police/metropolis-light-webfont.woff2') format('woff2'),
         url('police/metropolis-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}












			/*------------ M E D I A   Q U E R I E S.....R E S P O N S I V E S----------------*/
			/*-------------------------------------ECRAN NGEZA MAC----------------------------------*/
			/*----------------------------------------1344Pixel----------------------------------*/

@media only screen and (min-width: 1366px)
{

	body
	{
		margin:0;
		padding: 0;
		text-align: center;
		justify-content: center;
		width: 100%;
		overflow-x: hidden;

	}
	#contenu-phone
	{
		display: none;
	}
	#barre-menu
	{
		display: none;
	}
	#boriborikely-phone
	{
		display: none;
	}
	#fleche-g, #fleche-d
	{
		display: none;
	}
	#porfolio-phone
	{
		display: none;
	}
	#sary-engagement-phone
	{
		display: none;
	}
	#sary-engagement-table
	{
		display: none;
	}
	#boutton-p
	{
		display: none;
	}
	#menu-phone
	{
		display: none;
	}



			/* M E N U*/
	#menu
	{
		margin:0;
		padding: 0;
		text-align: center;
		justify-content: center;
		background-image: url(images/fond-2.png);
		background-size: 100%;
		background-repeat: no-repeat;
		height: 640px;
		width: 100%;

	}
	#headermenu
	{
		margin:0;
		padding: 0;
		text-align: center;
		justify-content: center;
		background-image: url(images/fond-4.png);
		background-size: 100%;
		display: flex;
		position: fixed;
		width: 100%;
		top: 0;
		z-index: 10;
	}
	#logo
	{
		margin:0;
		padding: 0;
		text-align: center;
		justify-content: center;
		margin-top: 20px;
	}
	#listmenu
	{
		margin:0;
		padding: 0;
		text-align: center;
		justify-content: center;
	}
	#listmenu ul
	{
		margin:0;
		padding: 0;
		text-align: center;
		justify-content: center;
		display: flex;
		margin-top: 40px;
		margin-left: 450px;
	}
	#listmenu li
	{
		margin:0;
		padding: 0;
		text-align: center;
		justify-content: center;
		list-style-type: none;
	}
	#listmenu a
	{
		margin:0;
		padding: 0;
		text-align: center;
		justify-content: center;
		text-decoration: none;
		font-family: montserrat-normal;
		font-size:10px;
		color: white;
		letter-spacing: 1.7px;
		margin: 0px 15px;
		padding: 10px 5px;
		margin-top: 20px;
	}
	#listmenu a:hover
	{
		background-color:#06A3BC;
		transition: all 0.5s ease;
	}
			/*---C O N T E N U  MENU----*/
	#menu-soratra-sary
	{
		margin:0;
		padding: 0;
		text-align: center;
		justify-content: center;
		display: flex;	
	}
	#sary
	{
		margin:0;
		padding: 0;
		text-align: center;
		justify-content: center;
		margin-top: 150px;
		margin-bottom:750px;
		width: 50%;	
	}
	#sary img
	{
		width: 75%;
	}


	#contenu
	{
		margin:0;
		padding: 0;
		text-align: center;
		justify-content: center;
		width: 40%;
		margin-left: 5%;
	}
	.anime
	{
		margin:0;
		padding: 0;
		text-align: center;
		justify-content: center;

	}
	.soratra
	{
		margin:0;
		padding: 0;
		text-align: left;
		justify-content: center;
		padding-top: 150px;
		padding-bottom: 50px;
	}
	.soratra h1
	{
		margin:0;
		padding: 0;
		text-align: left;
		justify-content: center;
		font-family:montserrat-300;
		font-size:45px;
		color:#002a87;
		font-weight: 300;
		letter-spacing:8px;
		border-bottom: 3px solid #002a87;
		margin-right: 70%;
	}


	.soratra h1 span
	{
		margin:0;
		padding: 0;
		text-align: right;
		justify-content: center;
		font-family:montserrat-800;
		font-weight:900;
		font-size:50px;
		color:#002a87;
		letter-spacing:0px;

		
	}
	.soratra h2
	{
		margin:0;
		padding: 0;
		text-align: left;
		justify-content: center;
		font-family:montserrat-600;
		font-weight: 500;
		font-size:23px;
		color:#396ed6;
		letter-spacing:2px;
		margin-top: 20px;
		margin-bottom: 15px;
	}

	.soratra p
	{
		margin:0;
		padding: 0;
		text-align: left;
		justify-content: center;	
		font-family:poppins;
		font-weight: 450;
		font-size:14px;
		color:#585858;
		letter-spacing:1px;
		line-height: 32px;
		margin-bottom: 30px;
	}
	.soratra a
	{
		margin:0;
		padding: 0;
		text-align: left;
		justify-content: left;
		font-family:montserrat-600;
		font-weight: 900;
		font-size:18px;
		color: white;
		letter-spacing: 2px;
		text-decoration: none;
		background-color: #396ed6;
		border-radius: 50px;
		padding: 15px 25px 15px 25px;

	}
	.soratra a:hover
	{
		border: 2px solid #396ed6;
		color:white ;
		background: transparent;
		transition: all 0.5s ease;
		color: #396ed6;
	}
	.anime .slick-dots
	{
		left: 50% !important;
		bottom: -10px !important;
	}

	#slick-slide-control00::before
	{
		border: 2px solid #396ed6;
		color: white;
		width: 80px;
		height: 3px;
	}
	#slick-slide-control01::before
	{
		border: 2px solid #396ed6;
		color: white;
		width: 80px;
		height: 3px;
	}
	#slick-slide-control02::before
	{
		border: 2px solid #396ed6;
		color: white;
		width: 80px;
		height: 3px;
	}
	.anime .slick-dots li
	{
		margin: 0px 50px !important;
	}
	/* Service tsika zao*/
	#service
	{
		margin:0;
		padding: 0;
		text-align: center;
		justify-content: center;
		padding-top: 70px;
	}
	#headerservice
	{
		margin:0;
		padding: 0;
		text-align: left;
		justify-content: left;
		display: flex;
		flex-wrap: wrap;
		background-image: url(images/fond-service.png);
		background-repeat: no-repeat;
		background-size: 100%;
		width: 100%;
	}
	#soratraservice
	{
		margin:0;
		padding: 0;
		text-align: left;
		justify-content: center;
		padding-top: 30px;
		margin-right: 45%;
		margin-left: 5%;
	}
	#soratraservice h2
	{
		margin:0;
		padding: 0;
		text-align: left;
		justify-content: center;
		font-family: montserrat-300;
		font-size:27px;
		font-weight:100;
		color:white;
		letter-spacing:0px;
	}
	#soratraservice h1
	{
		margin:0;
		padding: 0;
		text-align: left;
		justify-content: center;
		font-family: montserrat-700;
		font-size:46px;
		font-weight:900;
		color: white;
		letter-spacing:2px;
		font-style: bold;
	}
	#soratraservice img
	{
		margin:0;
		padding: 0;
		text-align: center;
		justify-content: center;
	}
	#saryordi
	{
		margin:0;
		padding: 0;
		text-align: center;
		justify-content: center;
		padding-top: 20px;
	}
						/*contenu service zao tsika*/
	#contenuservice
	{
		margin:0;
		padding: 0;
		text-align: center;
		justify-content: center;
		display: flex;
		flex-wrap: wrap;
		margin-top: 10px;
	}
	.boriborikely
	{
		margin:0;
		padding: 0;
		text-align: center;
		justify-content: center;
		margin:0% 4%;
		width: 200px;
		padding:20px;
		cursor:pointer;

	}	
	.boriborikely:hover
	{
		background-color:#E8F9FC;
		box-shadow: 0px 0px 15px #ACCDD2;
		transition: all 0.5s ease;
	}			
	.boriborikely img
	{
		margin:0;
		padding: 0;
		text-align: center;
		justify-content: center;
		border-radius: 100px;
		transition: 1s ease-in-out;
	}	
	.boriborikely img:hover
	{
		background-color:#BBE4FF;
		transform: rotate(360deg) scale(1.1, 1.1);

	}			
	.boriborikely p
	{
		margin:0;
		padding: 0;
		text-align: center;
		justify-content: center;
		font-family: montserrat-300;
		font-size: 16px;
		letter-spacing: 0.5px;
		color: #545454;
		margin-top: 20px;
		margin-bottom: 0px;
	}				
	.boriborikely span
	{
		margin:0;
		padding: 0;
		text-align: center;
		justify-content: center;
		font-weight: 700;
	}
	.boriborikely a
	{
		margin:0;
		padding: 0;
		text-align: center;
		justify-content: center;
		font-family: montserrat-900;
		font-size: 0.7em;
		color: white;
		background-color:#10C0DC;
		border-radius: 50px;
		letter-spacing: 1px;
		padding: 4px 15px;
		text-decoration: none;
	}
	.boriborikely a:hover
	{
		border: 2px solid #10C0DC;
		background: transparent;
		transition: all 0.5s ease;
		color: #10C0DC;
	}
					/*PORFOLIO NDRAY TSIKA ZAO*/
	#porfolio
	{
		margin:0;
		padding: 0;
		text-align: center;
		justify-content: center;
		margin-top: 0px;
		padding-top: 75px;
		width: 100%;
	}
	#headerporfolio
	{
		margin:0;
		padding: 0;
		text-align: center;
		justify-content: center;
		background-image: url(images/fond-porfolio.png);
		background-repeat: no-repeat;
		background-size: 100%;
		width: 100%;
	}
	#headerporfolio h2
	{
		margin:0;
		padding: 0;
		text-align: center;
		justify-content: center;
		font-family: montserrat-300;
		font-size:27px;
		font-weight:200;
		color:white;
		letter-spacing:0px;
		padding-top: 50px;
	}
	#headerporfolio h1
	{
		margin:0;
		padding: 0;
		text-align: center;
		justify-content: center;
		font-family: montserrat-700;
		font-size:46px;
		font-weight:900;
		color: white;
		letter-spacing:2px;
		font-style:bold;
		padding-bottom: 24px;
	}

	#bouttontout
	{
		margin:0;
		padding: 0;
		text-align: center;
		justify-content: center;
		display: flex;
		flex-wrap: wrap;
		background-color: #D8E0FF;
	}
	#bouttontout a
	{
		margin:0;
		padding: 0;
		text-align: center;
		justify-content: center;
		font-family:montserrat-normal;
		font-weight: 400;
		font-size:15px ;
		color:white;
		letter-spacing: 4px;
		text-decoration: none;
		border-radius: 50px;
		padding: 5px 30px;
		margin:50px 50px 40px 50px;
		border: 1.5px solid #3967d7;
		
		background: #3967d7;
	}
	#bouttontout a:hover
	{
		border: 1.5px solid #3967d7;
		color:#3967d7 ;
		background: white;
		transition: all 0.5s ease;
	}
	#bouttontout a:focus
	{
		border: 1.5px solid #0093B1;
		color:#0093B1 ;
		background: white;
		transition: all 0.5s ease;
	}
	#contenuporfolio
	{
		margin:0;
		padding: 0;
		text-align: center;
		justify-content: center;
		background-color: #D8E0FF;
		padding-bottom: 100px;
	}

	#img-contenu
	{
		margin:0;
		padding: 0;
		text-align: center;
		justify-content: center;
		margin: 0px 200px;

	}
	.img1
	{
		margin:0;
		padding: 0;
		text-align: center;
		justify-content: center;
		margin-left: 20px;
		padding-top: 5px;
		margin-bottom: 20px;
		margin-top: 20px;
	}
	.img1 img
	{
		width: 200px;
		margin: 0;
		
	}
	#img-contenu img:hover
	{
		transition: all 0.5s ease;
		box-shadow: 0px 0px 5px #006C7D;	
	}
	#img-contenu .slick-prev:before
	{
		color: #0093B1 !important;
		font-size: 80px !important;
		content: '<'!important;
		font-family:quicksand-light!important;
		font-weight: 100 !important;

	}
	#img-contenu .slick-prev
	{

		left: -60px !important;
		top: 30% !important;
	}
	#img-contenu .slick-next:before
	{
		color: #0093B1 !important;
		font-size: 80px !important;
		content: '>'!important;
		font-family:quicksand-light !important;
		font-weight: 100 !important;

	}
	#img-contenu .slick-next
	{
		right: -40px !important;
		top: 30% !important;
	}
	#slick-slide-control10::before
	{
		color: #0093B1;
	}
	#slick-slide-control11::before
	{
		color: #0093B1;
	}
	#slick-slide-control12::before
	{
		color: #0093B1;
	}
	#slick-slide-control13::before
	{
		color: #0093B1;
	}
	#slick-slide-control14::before
	{
		color: #0093B1;
	}
	#slick-slide-control15::before
	{
		color: #0093B1;
	}
	#slick-slide-control16::before
	{
		color: #0093B1;
	}
	#slick-slide-control17::before
	{
		color: #0093B1;
	}



					/*QUI SOMMES NOUS*/
	#qui-sommes-nous
	{
		margin:0;
		padding: 0;
		text-align: center;
		justify-content: center;
		background-image: url(images/fond-qui-sommes.png);
		background-repeat: no-repeat;
		background-size: 100%;
		width: 100%;
	}
	#qui-sommes
	{
		margin:0;
		padding: 0;
		text-align: center;
		justify-content: center;
		display: flex;
		margin-top: 30px;
	}
	#soratra-qui
	{
		margin:0;
		padding: 0;
		text-align: left;
		justify-content: left;
		margin-top: 80px;
		margin-right: 190px;
	}
	#soratra-qui h1
	{
		margin:0;
		padding: 0;
		text-align:left;
		justify-content: center;
		font-family:montserrat-700;
		font-weight: 700;
		font-size:38px;
		color:#3967d7;
		letter-spacing:0px;

	}
	#soratra-qui img
	{
		margin:0;
		padding: 0;
		text-align:left;
		justify-content: left;
		color: #3967d7;
	}
	#soratra-qui h2
	{
		margin:0;
		padding: 0;
		text-align: left;
		justify-content: center;
		font-family:poppins;
		font-weight: 500;
		font-size:15px;
		color:#4E4E4E;
		line-height: 30px;
		margin-top: 15px;
		width: 350px;
	}
	#sary-qui
	{
		margin:0;
		padding: 0;
		text-align: center;
		justify-content: center;
		margin-top: 50px;
	}

	#apropos
	{
		margin:0;
		padding: 0;
		text-align: center;
		justify-content: center;
		display: flex;
	}
	#img-apropos
	{
		margin:0;
		padding: 0;
		text-align: center;
		justify-content: center;
	}
	#soratra-apropos
	{
		margin:0;
		padding: 0;
		text-align: right;
		justify-content: right;
		margin-top: 60px;
		margin-left: 150px;
		padding-bottom: 0px;
	}
	#soratra-apropos h1
	{
		margin:0;
		padding: 0;
		text-align:right;
		justify-content: center;
		font-family:montserrat-700;
		font-weight: 700;
		font-size:38px;
		color:#3967d7;
		letter-spacing:0px;
	}
	#soratra-apropos h2
	{
		margin:0;
		padding: 0;
		text-align: right;
		justify-content: center;
		font-family:poppins;
		font-weight: 500;
		font-size:15px;
		color:#4E4E4E;
		line-height: 30px;
		margin-top: 15px;
		width: 800px;
	}
					/*NOS ENGAGEMENT*/
	#nos-engagement
	{
		margin:0;
		padding: 0;
		text-align:center;
		justify-content: center;
		padding-top: 75px;
		width: 100%;
	}
	#header-engagement
	{
		margin:0;
		padding: 0;
		text-align:center;
		justify-content: center;
		background-image: url(images/fond-engagement.png);
		background-repeat: no-repeat;
		background-size: 100%;
		width: 100%;
	}
	#header-engagement h1
	{
		margin:0;
		padding: 0;
		text-align:center;
		font-family: montserrat-700;
		font-size:35px;
		font-weight:900;
		color: white;
		letter-spacing:2px;
		font-style:bold;
		padding-top: 60px;

	}
	#header-engagement img
	{
		margin:0;
		padding: 0;
		text-align:center;
		margin-top: 10px;
		padding-bottom: 40px;
	}
	#technologie
	{
		margin:0;
		padding: 0;
		text-align:center;
		justify-content: center;
		margin-top: 30px;
	}
	#technologie h1
	{
		margin:0;
		padding: 0;
		text-align:center;
		justify-content: center;
		font-family:montserrat-normal;
		font-size:20px;
		font-weight:800;
		color: #5E5E5E;
		letter-spacing:25px;
	}
	#technologie img
	{
		margin:0;
		padding: 0;
		text-align:center;
		justify-content: center;
	}

	#contenu-engagement
	{
		margin:0;
		padding: 0;
		text-align:center;
		justify-content: center;
		margin-top: 30px;

	}
	#sary-engagement
	{
		margin:0;
		padding: 0;
		text-align:center;
		justify-content: center;
		margin: 0px 200px;

	}
	.img2
	{
		margin:0;
		padding: 0;
		text-align:center;
		justify-content: center;
		margin-left: 20px;	
		padding-top: 5px;
	}
	.img2 img
	{
		box-shadow: 0px 0px 2px #006C7D;
		width: 200px;	
	}
	#sary-engagement img:hover
	{
		transition: all 0.5s ease;
		box-shadow: 0px 0px 5px #006C7D;	
	}
	#sary-engagement .slick-prev:before
	{
		color: #0093B1 !important;
		font-size: 80px !important;
		content: '<'!important;
		font-family:quicksand-light !important;
		font-weight: 100 !important;

	}
	#sary-engagement  .slick-prev
	{

		left: -80px !important;
		top: 20% !important;
	}
	#sary-engagement  .slick-next:before
	{
		color: #0093B1 !important;
		font-size: 80px !important;
		content: '>'!important;
		font-family:quicksand-light !important;
		font-weight: 100 !important;

	}
	#sary-engagement  .slick-next
	{
		right: -55px !important;
		top: 20% !important;
	}
	#slick-slide-control20::before
	{
		color: #0093B1;
	}
	#slick-slide-control21::before
	{
		color: #0093B1;
	}
	#slick-slide-control22::before
	{
		color: #0093B1;
	}
	#slick-slide-control23::before
	{
		color: #0093B1;
	}
	#slick-slide-control24::before
	{
		color: #0093B1;
	}
	#slick-slide-control25::before
	{
		color: #0093B1;
	}
	#slick-slide-control26::before
	{
		color: #0093B1;
	}
	#slick-slide-control27::before
	{
		color: #0093B1;
	}






	#soratra-engagement
	{
		margin:0;
		padding: 0;
		text-align:center;
		justify-content: center;
		margin-top: 30px;
	}
	#soratra-engagement h2
	{
		margin:0;
		padding: 0;
		text-align:center;
		justify-content: center;
		font-family:poppins;
		font-weight: 400;
		font-size:16px;
		color:#676767;
		letter-spacing:0px;
		line-height: 35px;
		margin-bottom: 30px;

	}
	#soratra-engagement a
	{
		margin:0;
		padding: 0;
		text-align:center;
		justify-content: center;
		font-family:montserrat-600;
		font-weight: 900;
		font-size:1.2em ;
		color: white;
		letter-spacing: 2px;
		text-decoration: none;
		background-color: #3967d7;
		padding: 20px 20px 20px 20px;
		border-radius: 50px;
	}
	#soratra-engagement a:hover
	{
		border: 2px solid #3967d7;
		color:white ;
		background: transparent;
		transition: all 0.5s ease;
		color: #3967d7;
	}

				/*CONTACT TSIKA ZAO*/
	#contact
	{
		margin:0;
		padding: 0;
		text-align:center;
		justify-content: center;
		padding-top: 74px;
	}

	#header-contact
	{
		margin:0;
		padding: 0;
		text-align:center;
		justify-content: center;
		display: flex;
		background-image: url(images/fond-contact.png);
		background-size: 100%;
	}
	#soratra-contact
	{
		margin:0;
		padding: 0;
		text-align:center;
		justify-content: center;
	}
	#soratra-contact h1
	{
		margin:0;
		padding: 0;
		text-align:center;
		justify-content: center;
		font-family: montserrat-700;
		font-size:35px;
		font-weight:900;
		color: white;
		letter-spacing:2px;
		font-style:bold;
		padding-top: 50px;
	}
	#soratra-contact img
	{
		margin:0;
		padding: 0;
		text-align:center;
		justify-content: center;
	}
	#sary-contact
	{
		margin:0;
		padding: 0;
		text-align:center;
		justify-content: center;
		margin-left: 450px;
		padding-top: 10px;
	}

	#contenu-contact
	{
		margin:0;
		padding: 0;
		text-align:center;
		justify-content: center;
		display: flex;
		margin-top: 20px;
	}
	#formulaire
	{
		margin: 0;
		padding: 0;
		justify-content: center;
		text-align: center;
		background-color: #96b2f6;
		padding-left: 30px;
		padding-right: 30px;
		margin-right: 50px;
	}
	.formulaire
	{
		border: 1px solid #96b2f6;
		border-radius: 20px;
		width: 370px;
		padding: 13px;
		font-family:poppins;
		font-weight: 300;
		font-size: 15px;
		color: #808080;
		margin-top: 30px;
		outline: none;
	}
	.formulaire:focus
	{
		font-family:poppins;
		font-style:none;
		color: #006C7D;
		font-style: inherit;
		font-size: 16px;
		font-weight: 400;
	}
	#submit
	{
		font-family:montserrat-600;
			font-weight: 300;
			font-size:20px;
			color: white;
			letter-spacing:1px;
			background-color: #3967d7;
			border-radius: 50px;
			padding: 10px 30px;
			outline: none;
			border: none;
			cursor: pointer;
			margin-top: 30px;
	}
	#submit:hover
	{
		border: 2px solid #3967d7;
		color:white ;
		background: transparent;
		transition: all 0.5s ease;
		color: #3967d7;
	}
	#formulaire h1
	{
		margin:0;
		padding: 0;
		text-align:center;
		justify-content: center;
		font-family: montserrat-300;
		font-size:35px;
		font-weight: 100;
		color:#4D7092;
		letter-spacing:-2px;
		margin-top:30px;
	}

						/*COORDONNE*/
	#coordonne
	{
		margin:0;
		padding: 0;
		text-align:center;
		justify-content: center;
		background-color: #3967d7;
		padding: 0;
	}

	#titre-coordonne
	{
		margin:0;
		padding: 0;
		text-align:center;
		justify-content: center;
		background-color:#3967d9;
	}
	#titre-coordonne h1
	{
		margin:0;
		padding: 0;
		text-align:center;
		justify-content: center;
		font-family:montserrat-700;
		font-weight: 600;
		letter-spacing:4px ;
		color: white;
		font-size:2em ;
		padding-top: 20px;
		padding-bottom: 20px;
	}
	#contenu-coordonne
	{
		margin:0;
		padding: 0;
		text-align:center;
		justify-content: center;
		display: flex;
		flex-wrap: wrap;
		margin-top: 50px;
		margin-bottom: 50px;
	}

	#soratracoordonne
	{
		margin:0;
		padding: 0;
		text-align:center;
		justify-content: center;
	}


	.contenucoordonne
	{
		margin:0;
		padding: 0;
		text-align:left;
		justify-content: left;
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 10px;
	}
	.contenucoordonne h3
	{
		margin: 0;
		padding: 0;
		font-family: montserrat-300;
		letter-spacing:2px ;
		color: white;
		font-size:13px ;
		line-height: 35px;

	}
	.contenucoordonne img
	{
		width: 30px;
		height: 25px;
		margin: 0;
		cursor: pointer;
		margin-right: 12px;
		padding-top: 5px;
	}

	.contenucoordonne h2
	{
		margin: 0;
		padding: 0;
		margin: 0;
		padding: 0;
		font-family:montserrat-300;
		letter-spacing:2px ;
		color: white;
		font-size:15px;
		line-height: 30px;
	}
	#sarycoordonne
	{
		margin:0;
		padding: 0;
		text-align:center;
		justify-content: center;
		margin-left: 380px;


	}
	#sarycoordonne img
	{
		margin:0;
		padding: 0;
		text-align:center;
		justify-content: center;
		width: 65px;
		margin: 20px 60px 40px 60px;
	}

	#sarycoordonne img:hover
	{
		filter: invert(5%);
		filter: contrast(2);
		transition: all 0.8s ease;
		transform: rotate(360deg) scale(1.1, 1.1);
	}

	#footer
	{
		height: 53px;
		background-color: #3967d7;
		padding: 0;
		margin:0;
		text-align: center;
	}
	#footer h1
	{
		margin: 0;
		padding: 0;
		font-family:montserrat-300;
		font-size: 0.8em;
		letter-spacing: 10px;
		color: white;
		padding-top: 20px;
	}
	#loko1
	{
		margin:0;
		padding: 0;
		text-align:center;
		justify-content: center;
		height: 30px;
		background-color:#3967e4;
	}
	#loko2
	{
		margin:0;
		padding: 0;
		text-align:center;
		justify-content: center;
		height: 30px;
		background-color:#3967d7;
	}



}