


			/*------------ M E D I A   Q U E R I E S.....R E S P O N S I V E S----------------*/
			/*-------------------------------------ECRAN NGEZA MAC----------------------------------*/
			/*----------------------------------------1344Pixel----------------------------------*/

@media only screen and (min-width: 1000px) and (max-width: 1199px)
{

	body
	{
		margin:0;
		padding: 0;
		text-align: center;
		justify-content: center;
		width: 100%;
		overflow-x: hidden;

	}

	
	/* Preloder */

#preloder {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 999999;
	background: #fff;
}

.loader {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -13px;
	margin-left: -13px;
	border-radius: 60px;
	animation: loader 0.8s linear infinite;
	-webkit-animation: loader 0.8s linear infinite;
}

@keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		        transform: rotate(0deg);
		border: 4px solid #002a87;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		        transform: rotate(180deg);
		border: 4px solid #396ed6;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		        transform: rotate(360deg);
		border: 4px solid #002a87;
		border-left-color: transparent;
	}
}

@-webkit-keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		border: 4px solid #396ed6;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		border: 4px solid #002a87;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		border: 4px solid #396ed6;
		border-left-color: transparent;
	}
}
	#contenu-phone
	{
		display: none;
	}
	#listmenu
	{
		display: none;
	}
	#boriborikely-phone
	{
		display: none;
	}
	#fleche-g, #fleche-d
	{
		display: none;
	}
	#porfolio-phone
	{
		display: none;
	}
	#sary-engagement-phone
	{
		display: none;
	}
	#sary-engagement-table
	{
		display: none;
	}
	#boutton-p
	{
		display: none;
	}
	#menu-phone
	{
		display: none;
	}



			/* M E N U*/
	#menu
	{
		margin:0;
		padding: 0;
		text-align: center;
		justify-content: center;
		background-image: url(images/fond-3.png);
		background-size: 100%;
		background-repeat: no-repeat;
		width: 100%;

	}
	#headermenu
	{
		margin:0;
		padding: 0;
		text-align: left;
		justify-content: left;
		background-size: 100%;
		background-repeat: no-repeat;
		display: flex;
		position: fixed;
		width: 100%;
		top: 0;
		z-index: 10;
	}
	#logo
	{
		margin:0;
		padding: 0;
		text-align: left;
		justify-content: left;
		margin-top: 10px;
		margin-left: 5%;
	}
	#logo img
	{
		width: 80%;
	}
	#barre-menu
	{
		margin:0;
		padding: 0;
		text-align: center;
		justify-content: center;
		margin-top: 10px;
		margin-left: 70%;
		padding-right: 5%;
	}
	#barre-menu img
	{
		width: 200%;
	}
	#menu-phone
	{
		margin:0;
		padding: 0;
		text-align: center;
		justify-content: center;
		position: fixed;
		width: 100%;
		height: 100%;
		background-color:rgb(1, 163, 174, 0.9);	
		padding-top: 150px;
	}
	#menu-phone ul
	{
		margin:0;
		padding: 0;
		text-align: center;
		justify-content: center;
		display: flex;
		flex-wrap: wrap;
	}
	#menu-phone li
	{
		margin:0;
		padding: 0;
		text-align: center;
		justify-content: center;
		list-style-type: none;
	}
	#menu-phone a
	{
		margin:0;
		padding: 0;
		text-align: center;
		justify-content: center;
		text-decoration: none;
		font-family:montserrat-normal;
		font-size:13px;
		color: white;
		letter-spacing: 1.7px;
		margin: 0px 15px;
		padding: 10px;
	}
	#menu-phone a:hover
	{
		border: 1px solid white;
	}
	#croi
	{
		position: absolute;
		right: 5%;
		top: 5%;
		width:30px;
	}
			/*---C O N T E N U  MENU----*/

	#menu-soratra-sary
	{
		margin:0;
		padding: 0;
		text-align: center;
		justify-content: center;
		display: flex;	
	}
		.fixed
	{
		background-color: rgb(500, 500, 500, 0.95);
		box-shadow: 0px 5px 10px rgb(0, 0, 0, 0.1);
	}
	.menumenu
	{
		color:white;
		font-family: montserrat-normal;
	}
	#sary
	{
		margin:0;
		padding: 0;
		text-align: center;
		justify-content: center;
		margin-top: 100px;	
		margin-bottom: 50px;
		width: 100%;
	}
	#sary img
	{
		width: 65%;
	}

	#contenu
	{
		margin:0;
		padding: 0;
		text-align: center;
		justify-content: center;
		width: 40%;
		margin-left: 7%;
	}
	.anime
	{
		margin:0;
		padding: 0;
		text-align: center;
		justify-content: center;

	}
	.soratra
	{
		margin:0;
		padding: 0;
		text-align: left;
		justify-content: center;
		padding-top: 40%;
		padding-bottom: 30px;
	}
	.soratra h1
	{
		margin:0;
		padding: 0;
		text-align: left;
		justify-content: center;
		font-family:montserrat-700;
		font-size:35px;
		font-weight: 100;
		color:#002a87;
		letter-spacing:0px;
		line-height: 35px;
	}


	.soratra h1 span
	{
		margin:0;
		padding: 0;
		text-align: center;
		justify-content: center;
		font-family:montserrat-700;
		font-weight: 900;
		font-size:40px;
		color:#002a87;
		letter-spacing:0px;
		
	}
	.soratra h2
	{
		margin:0;
		padding: 0;
		text-align: left;
		justify-content: center;
		font-family:montserrat-300;
		font-weight: 900;
		font-size:18px;
		color:#396ed6;
		letter-spacing:-0px;
		margin-top: 10px;
		margin-bottom: 30px;
		line-height: 28px;
	}

	.soratra p
	{
		margin:0;
		padding: 0;
		text-align: left;
		justify-content: center;	
		font-family:poppins;
		font-weight: 500;
		font-size:13px;
		color:#585858;
		letter-spacing:0px;
		line-height: 25px;
		margin-bottom: 30px;
	}
	.soratra a
	{
		margin:0;
		padding: 0;
		text-align: left;
		justify-content: left;
		font-family:montserrat-600;
		font-weight: 500;
		font-size:16px;
		color: white;
		letter-spacing: 2px;
		text-decoration: none;
		background-color: #396ed6;
		border-radius: 50px;
		padding: 10px 20px;
		margin-bottom: 30px;

	}
	.soratra a:hover
	{
		border: 2px solid #396ed6;
		color:white ;
		background: transparent;
		transition: all 0.5s ease;
		color: #396ed6;
	}
	.anime .slick-dots
	{
		left: 50% !important;
		display: flex;
	}

	#slick-slide-control00::before
	{
		border: 2px solid #396ed6;
		color: white;
		width: 80px;
		height: 3px;
	}
	#slick-slide-control01::before
	{
		border: 2px solid #396ed6;
		color: white;
		width: 80px;
		height: 3px;
	}
	#slick-slide-control02::before
	{
		border: 2px solid #396ed6;
		color: white;
		width: 80px;
		height: 3px;
	}
	.anime .slick-dots li
	{
		margin: 0px 50px !important;
	}
	/* Service tsika zao*/
	#service
	{
		margin:0;
		padding: 0;
		text-align: center;
		justify-content: center;
		padding-top: 50px;
	}
	#headerservice
	{
		margin:0;
		padding: 0;
		text-align: left;
		justify-content: left;
		display: flex;
		flex-wrap: wrap;
		background-image: url(images/fond-service.png);
		background-repeat: no-repeat;
		background-size: 100%;
		width: 100%;

	}
	#soratraservice
	{
		margin:0;
		padding: 0;
		text-align: left;
		justify-content: center;
		padding-top: 30px;
		margin-right: 35%;
		margin-left: 5%;
	}
	#soratraservice h2
	{
		margin:0;
		padding: 0;
		text-align: left;
		justify-content: center;
		font-family: montserrat-300;
		font-size:20px;
		font-weight:100;
		color:white;
		letter-spacing:3px;
	}
	#soratraservice h1
	{
		margin:0;
		padding: 0;
		text-align: left;
		justify-content: center;
		font-family: montserrat-700;
		font-size:40px;
		font-weight:400;
		color: white;
		letter-spacing:5px;
	}
	#soratraservice img
	{
		display: none;
	}
	#saryordi
	{
		margin:0;
		padding: 0;
		text-align: center;
		justify-content: center;
		padding-top: 20px;
	}
	#saryordi img
	{
		width: 120px;
	}
						/*contenu service zao tsika*/
	#contenuservice
	{
		margin:0;
		padding: 0;
		text-align: center;
		justify-content: center;
		display: flex;
		flex-wrap: wrap;
		margin-top: 30px;
	}
	.boriborikely
	{
		margin:0;
		padding: 0;
		text-align: center;
		justify-content: center;
		margin:0% 1%;
		width: 230px;
		padding:10px;
		cursor:pointer;
		box-shadow: 0px 0px 15px #6f6f6f36;

	}	
	.boriborikely:hover
	{
		box-shadow: 0px 0px 15px #ACCDD2;
		transition: all 0.5s ease;
	}			
	.bory
	{
		margin:0;
		padding: 0;
		text-align: center;
		justify-content: center;
		border-radius: 100px;
		transition: 1s ease-in-out;
		width: 40%;
	}	
	.bory:hover
	{
		background-color:#BBE4FF;
		transform: rotate(360deg) scale(1.1, 1.1);

	}			
	.boriborikely h1
	{
		margin:0;
		padding: 0;
		text-align: center;
		justify-content: center;
		font-family: montserrat-700;
		font-size: 16px;
		letter-spacing:0px;
		line-height: 25px;
		color: #002a87;
		margin-top: 10px;
		margin-bottom: 0px;
	}	
		.boriborikely h2
	{
		margin:0;
		padding: 0;
		text-align: center;
		justify-content: center;
		font-family:poppins;
		font-size: 16px;
		letter-spacing:0px;
		line-height: 25px;
		color: #396ED6;
		margin-top: 10px;
		margin-bottom: 20px;
		height: 50px;
	}
	.boriborikely p
	{
		margin:0;
		padding: 0;
		text-align: center;
		justify-content: center;
		font-family: poppins;
		font-size: 13px;
		letter-spacing:0px;
		line-height: 28px;
		color: #4E4E4E;
		margin-top: 10px;
		padding-bottom: 20px;
		height: 220px;
	}
	.web
	{
		margin: 0;
		padding: 0;
		margin-bottom: 3px;
		width: 40%;
	}	
	.web1
	{
		width: 60%;
	}

					/*PORFOLIO NDRAY TSIKA ZAO*/
	#porfolio
	{
		margin:0;
		padding: 0;
		text-align: center;
		justify-content: center;
		margin-top: 0px;
		padding-top: 50px;
		width: 100%;
	}
	#headerporfolio
	{
		margin:0;
		padding: 0;
		text-align: center;
		justify-content: center;
		background-image: url(images/fond-porfolio.png);
		background-repeat: no-repeat;
		background-size: 100%;
		width: 100%;
	}
	#headerporfolio h2
	{
		margin:0;
		padding: 0;
		text-align: center;
		justify-content: center;
		font-family: montserrat-300;
		font-size:20px;
		font-weight:200;
		color:white;
		letter-spacing:3px;
		padding-top: 20px;
	}
	#headerporfolio h1
	{
		margin:0;
		padding: 0;
		text-align: center;
		justify-content: center;
		font-family: montserrat-700;
		font-size:40px;
		font-weight:400;
		color: white;
		letter-spacing:8px;
		padding-bottom: 20px;
	}

	#bouttontout
	{
		margin:0;
		padding: 0;
		text-align: center;
		justify-content: center;
		display: flex;
		flex-wrap: wrap;
		background-color: #D8E0FF;
	}
	#bouttontout a
	{
		margin:0;
		padding: 0;
		text-align: center;
		justify-content: center;
		font-family:montserrat-normal;
		font-weight: 400;
		font-size:12px ;
		color:white;
		letter-spacing: 0px;
		text-decoration: none;
		border-radius: 50px;
		padding: 5px 30px;
		margin:50px 30px 40px 30px;
		border: 1.5px solid #396ed6;
		
		background: #396ed6;
	}
	#bouttontout a:hover
	{
		border: 1.5px solid #0093B1;
		color:#0093B1 ;
		background: white;
		transition: all 0.5s ease;
	}
	#bouttontout a:focus
	{
		border: 1.5px solid #0093B1;
		color:#0093B1 ;
		background: white;
		transition: all 0.5s ease;
	}
	#contenuporfolio
	{
		margin:0;
		padding: 0;
		text-align: center;
		justify-content: center;
		background-color: #D8E0FF;
		padding-bottom: 100px;
	}

	#img-contenu
	{
		margin:0;
		padding: 0;
		text-align: center;
		justify-content: center;
		margin: 0% 15%;
		padding-left: 2%;

	}
	.img1
	{
		margin:0;
		padding: 0;
		text-align: center;
		justify-content: center;
		margin-left: 1%;
		padding-top: 5px;
		margin-bottom: 20px;
		margin-top: 20px;

	}
	.img1 img
	{
		width: 90%;
		margin: 0;
		
	}
	#img-contenu img:hover
	{
		transition: all 0.5s ease;
		box-shadow: 0px 0px 5px #006C7D;	
	}
	#img-contenu .slick-prev:before
	{
		color: #0093B1 !important;
		font-size: 80px !important;
		content: '<'!important;
		font-family:quicksand-light !important;
		font-weight: 100 !important;

	}
	#img-contenu .slick-prev
	{

		left: -60px !important;
		top: 30% !important;
	}
	#img-contenu .slick-next:before
	{
		color: #0093B1 !important;
		font-size: 80px !important;
		content: '>'!important;
		font-family:quicksand-light !important;
		font-weight: 100 !important;

	}
	#img-contenu .slick-next
	{
		right: -40px !important;
		top: 30% !important;
	}
	#slick-slide-control10::before
	{
		color: #0093B1;
	}
	#slick-slide-control11::before
	{
		color: #0093B1;
	}
	#slick-slide-control12::before
	{
		color: #0093B1;
	}
	#slick-slide-control13::before
	{
		color: #0093B1;
	}
	#slick-slide-control14::before
	{
		color: #0093B1;
	}
	#slick-slide-control15::before
	{
		color: #0093B1;
	}
	#slick-slide-control16::before
	{
		color: #0093B1;
	}
	#slick-slide-control17::before
	{
		color: #0093B1;
	}



					/*QUI SOMMES NOUS*/
	#qui-sommes-nous
	{
		margin:0;
		padding: 0;
		text-align: center;
		justify-content: center;
		background-image: url(images/fond-qui-sommes.png);
		background-repeat: no-repeat;
		background-size: 100%;
		width: 100%;
	}
	#qui-sommes
	{
		margin:0;
		padding: 0;
		text-align: center;
		justify-content: center;
		display: flex;
		margin-top: 30px;
		margin: 0px 50px;
	}
	#soratra-qui
	{
		margin:0;
		padding: 0;
		text-align: left;
		justify-content: left;
		margin-top: 40px;
		margin-right: 0px;
	}
	#soratra-qui h1
	{
		margin:0;
		padding: 0;
		text-align:left;
		justify-content: center;
		font-family:montserrat-700;
		font-weight: 700;
		font-size:30px;
		color:#396ed6;
		letter-spacing:0px;

	}
	#soratra-qui img
	{
		margin:0;
		padding: 0;
		text-align:left;
		justify-content: left;
		width: 80%;
	}
	#soratra-qui h2
	{
		margin:0;
		padding: 0;
		text-align: left;
		justify-content: center;
		font-family:poppins;
		font-weight: 500;
		font-size:13px;
		color:#4E4E4E;
		line-height: 28px;
		margin-top: 15px;
		width: 340px;
	}
	#sary-qui
	{
		margin:0;
		padding: 0;
		text-align: center;
		justify-content: center;
		margin-top: 40px;
	}
	#sary-qui img
	{
		width: 100%;
	}

	#apropos
	{
		margin:0;
		padding: 0;
		text-align: center;
		justify-content: center;
		display: flex;
	}
	#img-apropos
	{
		margin:0;
		padding: 0;
		text-align: center;
		justify-content: center;
	}
	#img-apropos img
	{
		width: 100%;
	}
	#soratra-apropos
	{
		margin:0;
		padding: 0;
		text-align: right;
		justify-content: right;
		margin-top: 20px;
		margin-left: 20px;
		padding-bottom: 0px;
		margin-right: 5%;
	}
	#soratra-apropos h1
	{
		margin:0;
		padding: 0;
		text-align:right;
		justify-content: center;
		font-family:montserrat;
		font-weight: 700;
		font-size:33px;
		color:#396ed6;
		letter-spacing:0px;
	}
	#soratra-apropos h2
	{
		margin:0;
		padding: 0;
		text-align: right;
		justify-content: center;
		font-family:poppins;
		font-weight: 500;
		font-size:13px;
		color:#4E4E4E;
		line-height: 28px;
		margin-top: 15px;
		width: 500px;
	}
					/*NOS ENGAGEMENT*/
	#nos-engagement
	{
		margin:0;
		padding: 0;
		text-align:center;
		justify-content: center;
		padding-top: 100px;
		width: 100%;
		background-image: url(images/fond-engagement-1.png);
		height: 650px;
	}
	#contenu-engagement
	{
		margin:0;
		padding: 0;
		text-align:center;
		justify-content: center;
		display: flex;
		flex-wrap: wrap;
	}
	.engagement-1
	{
		margin:0;
		padding: 0;
		text-align:center;
		justify-content: center;
		margin-right: 20%;	
	}
	.engagement-2
	{
		margin:0;
		padding: 0;
		text-align:center;
		justify-content: center;
		margin-left: 20%;		
	}
	.contenu-engagement-1
	{
		margin:0;
		padding: 0;
		text-align:right;
		justify-content:right;
		width: 250px;

	}
	.contenu-engagement-1 p
	{
		margin:0;
		padding: 0;
		text-align:right;
		justify-content:right;
		font-family: poppins;
		font-size: 14px;
		line-height: 28px;
		letter-spacing: 0px;
		color: white;
		margin-top: 10px;
		margin-bottom: 70px;
	}

	.contenu-engagement-2
	{
		margin:0;
		padding: 0;
		text-align:left;
		justify-content:left;
		width: 250px;
	}
	.contenu-engagement-2 p
	{
		margin:0;
		padding: 0;
		text-align:left;
		justify-content:left;
		font-family: poppins;
		font-size: 14px;
		line-height: 28px;
		letter-spacing: 0px;
		color: white;
		margin-top: 10px;
		margin-bottom: 70px;
	}
	#engagement-3
	{
		margin:0;
		padding: 0;
		text-align:center;
		justify-content: center;
		position: relative;
		bottom: 450px;
	}
	#engagement-3 h1
	{
		margin:0;
		padding: 0;
		text-align:center;
		justify-content: center;
		font-family: montserrat-800;
		font-size: 40px;
		letter-spacing: 0px;
		color: white;
	}
	#engagement-3 h2
	{
		margin:0;
		padding: 0;
		text-align:center;
		justify-content: center;
		font-family: poppins;
		font-size: 14px;
		letter-spacing: 0px;
		color: white;
		margin: 0% 35%;
		line-height: 28px;
		margin-top: 60px;
		margin-bottom: 50px;
	}
	#engagement-3 a
	{
		margin:0;
		padding: 0;
		text-align:center;
		justify-content: center;
		font-family: montserrat-600;
		font-size: 16px;
		letter-spacing: 3px;
		color: white;
		text-decoration:none;
		border: 2px solid white;
		padding: 10px;

	}
	#engagement-3 a:hover
	{
		background: white;
		transition: all 0.5s ease;
		color: #396ed6;
	}


				/*CONTACT TSIKA ZAO*/
	#contact
	{
		margin:0;
		padding: 0;
		text-align:center;
		justify-content: center;
		
	}

	#header-contact
	{
		margin:0;
		padding: 0;
		text-align:center;
		justify-content: center;
		display: flex;
		background-image: url(images/fond-contact.png);
		background-repeat: no-repeat;
		background-size: 100%;
		padding-top: 65px;
	}
	#soratra-contact
	{
		margin:0;
		padding: 0;
		text-align:center;
		justify-content: center;
	}
	#soratra-contact h1
	{
		margin:0;
		padding: 0;
		text-align:center;
		justify-content: center;
		font-family: montserrat-700;
		font-size:30px;
		font-weight:400;
		color: white;
		letter-spacing:5px;
		padding-top: 50px;
	}
	#soratra-contact img
	{
		margin:0;
		padding: 0;
		text-align:center;
		justify-content: center;
	}
	#sary-contact
	{
		margin:0;
		padding: 0;
		text-align:center;
		justify-content: center;
		margin-left: 30%;
		padding-top: 10px;
	}

	#contenu-contact
	{
		margin:0;
		padding: 0;
		text-align:center;
		justify-content: center;
		display: flex;
		margin-top: 20px;
	}
	#formulaire
	{
		margin: 0;
		padding: 0;
		justify-content: center;
		text-align: center;
		padding-left: 30px;
		padding-right: 30px;
		margin-right: 20px;
	}
	.formulaire
	{
		border: 1px solid #396ed6;
		border-radius: 20px;
		width: 360px;
		padding: 11px;
		font-family:poppins;
		font-weight: 300;
		font-size: 13px;
		color: #808080;
		margin-top: 30px;
		outline: none;
	}
	.formulaire:focus
	{
		font-family:poppins;
		font-style:none;
		color: #396ed6;
		font-style: inherit;
		font-size: 14px;
		font-weight: 400;
	}
	#submit
	{
		font-family:montserrat-600;
			font-size:18px;
			color: white;
			letter-spacing:1px;
			background-color: #396ed6;
			border-radius: 50px;
			padding: 10px 30px;
			outline: none;
			border: none;
			cursor: pointer;
			margin-top: 30px;
	}
	#submit:hover
	{
		border: 2px solid #396ed6;
		color:white ;
		background: transparent;
		transition: all 0.5s ease;
		color: #396ed6;
	}
	#formulaire h1
	{
		margin:0;
		padding: 0;
		text-align:center;
		justify-content: center;
		font-family: montserrat-normal;
		font-size:35px;
		font-weight: 100;
		color:#396ed6;
		letter-spacing:-2px;
		margin-top:30px;
	}

						/*COORDONNE*/
	#coordonne
	{
		margin:0;
		padding: 0;
		text-align:center;
		justify-content: center;
		background-color: #396ed6;
		padding: 0;
	}

	#titre-coordonne
	{
		margin:0;
		padding: 0;
		text-align:center;
		justify-content: center;
		background-color:#396ed9;
	}
	#titre-coordonne h1
	{
		margin:0;
		padding: 0;
		text-align:center;
		justify-content: center;
		font-family:montserrat-300;
		font-weight: 600;
		letter-spacing:4px ;
		color: white;
		font-size:2em ;
		padding-top: 20px;
		padding-bottom: 20px;
	}
	#contenu-coordonne
	{
		margin:0;
		padding: 0;
		text-align:center;
		justify-content: center;
		display: flex;
		flex-wrap: wrap;
		margin-top: 50px;
		margin-bottom: 50px;
	}

	#soratracoordonne
	{
		margin:0;
		padding: 0;
		text-align:center;
		justify-content: center;
	}


	.contenucoordonne
	{
		margin:0;
		padding: 0;
		text-align:left;
		justify-content: left;
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 10px;
	}
	.contenucoordonne h3
	{
		margin: 0;
		padding: 0;
		font-family:montserrat-300;
		letter-spacing:2px ;
		color: white;
		font-size:13px ;
		line-height: 35px;

	}
	.contenucoordonne img
	{
		width: 30px;
		height: 25px;
		margin: 0;
		cursor: pointer;
		margin-right: 12px;
		padding-top: 5px;
	}

	.contenucoordonne h2
	{
		margin: 0;
		padding: 0;
		margin: 0;
		padding: 0;
		font-family:montserrat-300;
		letter-spacing:2px ;
		color: white;
		font-size:14px;
		line-height: 30px;
	}
	#sarycoordonne
	{
		margin:0;
		padding: 0;
		text-align:center;
		justify-content: center;
		margin-left:3%;


	}
	#sarycoordonne img
	{
		margin:0;
		padding: 0;
		text-align:center;
		justify-content: center;
		width: 65px;
		margin: 20px 40px 40px 40px;
	}

	#sarycoordonne img:hover
	{
		filter: invert(5%);
		filter: contrast(2);
		transition: all 0.8s ease;
		transform: rotate(360deg) scale(1.1, 1.1);
	}

	#footer
	{
		height: 53px;
		background-color: #396ed1;
		padding: 0;
		margin:0;
		text-align: center;
	}
	#footer h1
	{
		margin: 0;
		padding: 0;
		font-family:montserrat-300;
		font-size: 0.6em;
		letter-spacing: 10px;
		color: white;
		padding-top: 20px;
	}
	#loko1
	{
		margin:0;
		padding: 0;
		text-align:center;
		justify-content: center;
		height: 30px;
		background-color:#396ed2;
	}
	#loko2
	{
		margin:0;
		padding: 0;
		text-align:center;
		justify-content: center;
		height: 30px;
		background-color:#396ed0;
	}



}




